nav ul {
  display: flex;
  background-color: blanchedalmond;
  margin-block-start: 0;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style-type: none;
  margin-right: 26px;
  font-weight: 600;
}

nav ul li a {
  text-decoration: none;
  color: black;
}
